body {
  background-color: #F7F7F2;
  font-size: 1.2em;
}

header {
  background-color: #F24333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px;
}

h1, h2 {
  color: black;
  text-align: center;
}

.sidebar {
  float: right;
  padding: 25px;
  border: 2px solid #F24333;
  width: 25%;
  height: 1000px;
  margin: 25px 0;
  border-radius: 50px;
}

.animal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.animal-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animal-card img {
  height: 200px;
  width: auto;
}

.animal-card h3 {
  text-align: center;
}

.animal-card p {
  padding: 15px;
}

/* Medium screen and Tablets */
@media screen and (min-width: 481px) and (max-width: 780px) {
  body {
    font-style: italic;
    font-size: 1em;
  }

  h2 {
    display: none;
  }

  .animal-card {
    width: 250px;
  }

  .animal-card img {
    height: 180px;
  }

}

/* Mobile */
@media screen and (max-width: 480px) {
  body {
    font-weight: bold;
    font-size: .8em;
  }

  .animal-card {
    width: 200px;
  }

  .animal-card img {
    height: 160px;
  }

}
